:root {
    /*colors*/
    --bg-p: #080807;
    --bg-s: #110f0e;
    --bg-t: #1c1917;
    --bg-blur: #0b0a09, 1%;

    --content-p: #ffffff;
    --content-s: #a3a3a3;
    --content-t: #696663;
    --content-inverse: #0a0908;

    --accent-oragen: #ed712e;
    --accent-red: #eb4b5b;
    --accent-blue: #55a1f2;
    --accent-green: #44cb93;
    --accent-purple: #9d8afe;

    --border-color: #161412;

    /*font*/
    --font-family: "Onest", sans-serif;

    --heading-medium-size: 2.4rem;
    --heading-medium-line-h: 3.2rem;
    --heading-medium-weight: 800;

    --heading-small-size: 2rem;
    --heading-small-line-h: 2.4rem;
    --heading-small-weight: 800;

    --paragraph-large-size: 1.6rem;
    --paragraph-large-line-h: 2rem;
    --paragraph-large-weight: 500;

    --paragraph-medium-size: 1.4rem;
    --paragraph-medium-line-h: 1.6rem;
    --paragraph-medium-weight: 500;

    --paragraph-small-size: 1.2rem;
    --paragraph-small-line-h: 1.4rem;
    --paragraph-small-weight: 500;

    --label-large-size: 1.6rem;
    --label-large-line-h: 2rem;
    --label-large-weight: 700;

    --label-medium-size: 1.4rem;
    --label-medium-line-h: 1.6rem;
    --label-medium-weight: 700;

    --label-small-size: 1.2rem;
    --label-small-line-h: 1.2rem;
    --label-small-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

html {
    display: inline;
    background-color: var(--bg-p);
    color: var(--content-p);
    font-family: var(--font-family);
    font-size: 10px;
    padding: 1.2rem;
}

icon {
    display: inline;
    justify-content: center;
    align-items: center;
}

/* Text Input Component */
.text-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;

    height: auto;
    width: 100%;

    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    line-height: var(--paragraph-medium-line-h);

    color: var(--content-p);
}

.text-input-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 1.2rem;

    background-color: var(--bg-s);

    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    line-height: var(--paragraph-medium-line-h);
}

.text-input-content:has(input:focus):not(:has(.text-input-error)) {
    outline: 1.5px solid var(--content-p);
}

.text-input-container:has(.text-input-error) .text-input-content {
    outline: 1.5px solid var(--accent-red);
}

.text-input-content input {
    background-color: var(--bg-s);
    border: none;
    width: 100%;
    color: var(--content-p);
}

.text-input-content input:focus {
    background-color: none;
    border: none;
    outline: none;
    color: var(--content-p);
}

.text-input-content input::placeholder {
    color: var(--content-t);
}

.text-input-error {
    display: flex;
    flex-direction: row;
    align-items: start;

    width: 100%;

    font-size: var(--paragraph-small-size);
    font-weight: var(--paragraph-small-weight);
    line-height: var(--paragraph-small-line-h);

    color: var(--content-s);

    gap: 0.5rem;
}

/* Subtitle Component */
.subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: max-content;
    height: max-content;

    gap: 0rem;
}

.subtitle-text {
    font-family: var(--font-family);
    font-size: var(--heading-small-size);
    font-weight: var(--heading-small-weight);
    line-height: var(--heading-small-line-h);

    color: var(--content-p);
}

/* Button Component */

.button-container {
    display: flex;
    width: max-content;
    height: max-content;
}

.button-content {
    display: flex;
    padding: 1.2rem 2rem;

    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line-h);

    outline: none;
    border: none;
    border-radius: 4rem;

    transition:
        border-radius 0.1s,
        color 0.1s;
}

.button-container .icon {
    font-size: 2.35rem;
}

.button-text {
    padding: 0 1rem;
}

.primary-button-color {
    background-color: var(--accent-oragen);
    color: var(--content-inverse);
}

.secondary-button-color {
    background-color: var(--content-inverse);
    color: var(--accent-oragen);
}

.button-content:hover {
    border-radius: 1.2rem;
}

.button-content.secondary-button-color:hover {
    border-radius: 1.2rem;
    color: var(--content-p);
}

/* Iconoir-Button Component */

.iconoirbutton-container {
    display: flex;
    width: max-content;
    height: max-content;
}

.iconoirbutton-content {
    display: flex;
    padding: 1.5rem;

    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: var(--heading-small-size);
    font-weight: var(--heading-small-weight);
    line-height: var(--heading-small-line-h);

    outline: none;
    border: none;
    border-radius: 100%;

    transition:
        border-radius 0.1s,
        color 0.1s;
}

.iconoirbutton-p {
    background-color: var(--accent-oragen);
    color: var(--content-inverse);
}

.iconoirbutton-s {
    background-color: var(--content-inverse);
    color: var(--accent-oragen);
}

.iconoirbutton-t {
    background-color: var(--content-inverse);
    color: var(--content-p);
}

.iconoirbutton-content:hover {
    border-radius: 1.2rem;
}

.iconoirbutton-content.iconoirbutton-color-s:hover {
    color: var(--content-p);
}
