:root {
    /*colors*/
    --bg-p: #080807;
    --bg-s: #110f0e;
    --bg-t: #1c1917;
    --bg-blur: #0b0a09, 1%;

    --content-p: #ffffff;
    --content-s: #a3a3a3;
    --content-t: #696663;
    --content-inverse: #0a0908;

    --accent-oragen: #ed712e;
    --accent-red: #eb4b5b;
    --accent-blue: #55a1f2;
    --accent-green: #44cb93;
    --accent-purple: #9d8afe;

    --border-color: #161412;

    /*font*/
    --font-family: "Onest", sans-serif;

    --heading-medium-size: 2.4rem;
    --heading-medium-line-h: 3.2rem;
    --heading-medium-weight: 800;

    --heading-small-size: 2rem;
    --heading-small-line-h: 2.4rem;
    --heading-small-weight: 800;

    --paragraph-large-size: 1.6rem;
    --paragraph-large-line-h: 2rem;
    --paragraph-large-weight: 500;

    --paragraph-medium-size: 1.4rem;
    --paragraph-medium-line-h: 1.6rem;
    --paragraph-medium-weight: 500;

    --paragraph-small-size: 1.2rem;
    --paragraph-small-line-h: 1.4rem;
    --paragraph-small-weight: 500;

    --label-large-size: 1.6rem;
    --label-large-line-h: 2rem;
    --label-large-weight: 700;

    --label-medium-size: 1.4rem;
    --label-medium-line-h: 1.6rem;
    --label-medium-weight: 700;

    --label-small-size: 1.2rem;
    --label-small-line-h: 1.2rem;
    --label-small-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

#main {
    width: 100%;
    height: 100%;
}

html {
    display: inline;
    background-color: var(--bg-p);
    color: var(--content-p);
    font-family: var(--font-family);
    font-size: 10px;
    /* padding: 1.2rem; */

    width: 100svw;
    height: 100svh;
}

body {
    width: 100%;
    height: 100%;
}

icon {
    display: inline;
    justify-content: center;
    align-items: center;
}

/* Text Input Component */
.text-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;

    height: auto;
    width: 100%;

    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    line-height: var(--paragraph-medium-line-h);

    color: var(--content-p);
}

.text-input-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 1.2rem;

    background-color: var(--bg-s);

    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    line-height: var(--paragraph-medium-line-h);
}

.text-input-content:has(input:focus):not(:has(.text-input-error)) {
    outline: 1.5px solid var(--content-p);
}

.text-input-container:has(.text-input-error) .text-input-content {
    outline: 1.5px solid var(--accent-red);
}

.text-input-content input {
    background-color: var(--bg-s);
    border: none;
    width: 100%;
    color: var(--content-p);
}

.text-input-content input:focus {
    background-color: none;
    border: none;
    outline: none;
    color: var(--content-p);
}

.text-input-content input::placeholder {
    color: var(--content-t);
}

.text-input-error {
    display: flex;
    flex-direction: row;
    align-items: start;

    width: 100%;

    font-size: var(--paragraph-small-size);
    font-weight: var(--paragraph-small-weight);
    line-height: var(--paragraph-small-line-h);

    color: var(--content-s);

    gap: 0.5rem;
}

/* TextArea Input Component */
.textarea-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;

    height: auto;
    width: 100%;

    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    line-height: var(--paragraph-medium-line-h);

    color: var(--content-p);
}

.textarea-input-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 2rem;

    min-height: 12rem;

    background-color: var(--bg-s);

    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    line-height: var(--paragraph-medium-line-h);
}

.textarea-input-content textarea {
    background-color: var(--bg-s);
    border: none;
    width: 100%;
    height: 12rem;
    color: var(--content-p);

    resize: none;
}

.textarea-input-content textarea:focus {
    background-color: none;
    border: none;
    outline: none;
    color: var(--content-p);
}

.textarea-input-content textarea::placeholder {
    color: var(--content-t);
}

.textarea-input-content:has(textarea:focus) {
    outline: 1.5px solid var(--content-p);
}

/* Subtitle Component */
.subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: max-content;
    height: max-content;

    gap: 0rem;
}

.subtitle-text {
    font-family: var(--font-family);
    font-size: var(--heading-medium-size);
    font-weight: var(--heading-small-weight);
    line-height: var(--heading-small-line-h);

    color: var(--content-p);
}

/* Button Component */

.button-container {
    display: flex;
    width: max-content;
    height: max-content;
}

.button-content {
    display: flex;
    padding: 1.2rem 2rem;

    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line-h);

    outline: none;
    border: none;
    border-radius: 4rem;

    transition:
        border-radius 0.1s,
        color 0.1s;
}

.button-container .icon {
    font-size: 2.35rem;
}

.button-text {
    padding: 0 1rem;
}

.primary-button-color {
    background-color: var(--accent-oragen);
    color: var(--content-inverse);
}

.secondary-button-color {
    background-color: var(--content-inverse);
    color: var(--accent-oragen);
}

.button-content:hover {
    border-radius: 1.2rem;
}

.button-content.secondary-button-color:hover {
    border-radius: 1.2rem;
    color: var(--content-p);
}

/* Iconoir-Button Component */

.iconoirbutton-container {
    display: flex;
    width: max-content;
    height: max-content;
}

.iconoirbutton-content {
    display: flex;
    padding: 1.5rem;

    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: var(--heading-small-size);
    font-weight: var(--heading-small-weight);
    line-height: var(--heading-small-line-h);

    outline: none;
    border: none;
    border-radius: 100%;

    transition:
        border-radius 0.1s,
        color 0.1s;
}

.iconoirbutton-p {
    background-color: var(--accent-oragen);
    color: var(--content-inverse);
}

.iconoirbutton-s {
    background-color: var(--content-inverse);
    color: var(--accent-oragen);
}

.iconoirbutton-t {
    background-color: var(--content-inverse);
    color: var(--content-p);
}

.iconoirbutton-content:hover {
    border-radius: 1.2rem;
}

.iconoirbutton-content.iconoirbutton-color-s:hover {
    color: var(--content-p);
}

/* Title Component */
.title-container {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 0.8rem;

    padding: 1.2rem;
}

.title-text {
    font-size: 3.2rem;
    font-weight: 800;
}

.title-icon {
    width: 4.25rem;
}

/* Property Component */
.property-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    font-size: var(--label-small-size);
    font-weight: var(--label-small-weight);
    line-height: var(--label-small-line-h);

    outline: none;
    border: none;
    border-radius: 1.6rem;

    color: var(--bg-s);
    padding: 0.5rem 1rem;
}

/* FloatBar/Button Component */

.floatbar-container {
    display: flex;
    width: max-content;
    height: max-content;

    border: solid 0.15rem var(--border-color);
    border-radius: 5.5rem;
    padding: 1rem;
    gap: 1rem;
}

.floatbarbutton-container {
    display: flex;
    width: max-content;
    height: max-content;
}

.floatbarbutton-content {
    display: flex;
    padding: 1.75rem;

    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: var(--content-p);

    text-align: center;

    outline: none;
    border: none;
    border-radius: 4rem;

    transition:
        color 0.1s,
        background-color 0.1s;
}

.floatbarbutton-content .icon {
    font-size: 2.5rem;
    font-weight: var(--heading-small-weight);
    line-height: var(--heading-small-line-h);
}

.floatbarbutton-content:hover {
    color: var(--accent-oragen);
}

.floatbarbutton-active {
    color: var(--content-inverse);
    background-color: var(--accent-oragen);
}

.floatbarbutton-active:hover {
    color: var(--content-inverse);
    background-color: var(--accent-oragen);
}

/* Forms */
.form-container {
    display: flex;
    flex-direction: column;

    position: relative;

    max-height: 100%;
    height: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;

    height: 100%;

    justify-content: space-between;
}

.form-button {
    align-self: center;
}

.form-footer {
    align-self: center;
}

/* Note Component */
.note-container {
    display: flex;
    flex-direction: column;

    position: absolute;

    overflow: hidden;
    background-color: var(--bg-s);
    border: 0.25rem solid var(--bg-t);

    border-radius: 2rem;

    width: fit-content;
    height: fit-content;
}

.note-content {
    resize: both;
    overflow-x: hidden;
    overflow-y: auto;

    position: static;

    display: flex;
    flex-direction: column;

    margin: 1.5rem;
    padding-top: 0;

    width: 250px;
    height: 270px;

    min-height: 200px;
    min-width: 200px;

    max-width: 400px;
    max-height: 400px;

    transition: padding-top 0.15s ease-out;
}

.note-title {
    display: flex;
    overflow: hidden;

    position: absolute;

    background-color: var(--bg-t);
    color: var(--content-s);

    width: 100%;
    height: 4.5rem;

    justify-content: center;
    align-items: center;

    transform: translateY(-4.5rem);

    transition: transform 0.15s ease-out;
}

.note-container:hover .note-title {
    transform: translateY(0);
}

.note-container:hover .note-content {
    padding-top: 4.5rem;
}

.note-body {
    width: 100%;
    height: 100%;
}

.note-input {
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 100%;

    background: transparent;
    color: transparent;

    caret-color: var(--content-p);

    outline: none;
    border: none;
}
